body {
    font-size: 20px;
    text-align: center;

    /* margin-right: 22em;
    margin-left: 15em; */
    line-height: 1.5;
    /* padding-bottom: 10px; */
    font-weight: 400;
    

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    color: #141414;
}
a{
    margin: 5px;
    background-color: antiquewhite;
    border: #141414 solid;
    padding: 5px;
}
a :link {
    color: black;
}

a:visited {
    color: blueviolet;
} 
.adobo {
    margin-top: 40px;
    position: absolute;
}
a:hover{
    border-color: rgb(226, 211, 192);
}

/* body, h1, h2 {
    margin: 0;
    margin-top: 50px;
    justify-content: center;
} */

h1 {
    margin-right: 150px;
    line-height: 1px;
}
h2 {
    margin-right: 310px;
}

p {
    text-align: justify;
    margin-left: 29em;
    margin-right: 29em;
    /* justify-content: left; */
    /* margin-top: 8px;
    text-align: left;*/
    /* width: 36em; */
}

section {
    /* 4 */
    margin: 30em;
    border: solid rgb(14, 13, 12);
    background-color: antiquewhite;
    padding: 20px;

}

section h2 {
    margin-right: 15em;
}

span {
    color: rgb(116, 112, 112);
    font-style: italic;
}

li {
    list-style-position: inside;
    text-align: justify;
    line-height: 1.8;
    margin-bottom: 10px;
}